.alert{
    min-width: 200px;
    height: 49px;
    font-weight: 500;
    font-size:12px;
    background-color: #d32f2f;
    padding: 6px 16px;
    color: #fff;
    padding: 6px 16px;
    line-height: 1.43;
    box-sizing: border-box;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: none;
}

.alert-content{
    padding: 8px 0;
}

.alert-success {
    background-color:#2e7d32;
}
.alert-warning {
    background-color: #ed6c02;
}

.alert-info {
    background-color: #0288d1;
}

.alert-error {
    background-color: #d32f2f;
}